<%- include header %>
<div id="editbox" class="main">
  <form method="post" enctype="multipart/form-data" action="/activity/<%= activity._id %>/edit" id="editform">
    <div class="row">
      <label for="title">活动标题</label>
      <div>
        <input type="text" class="inputwidth" id="edit-title" name="title" placeholder="最长25个字符" maxlength="25" value="<%= activity.title %>">
        <span class="mistake" id="edit-title-mis">请输入活动标题</span>
      </div>
    </div>
    <div class="row">
      <label for="type">活动类型</label>
      <div>
        <select name="type" id="edit-type">
          <option value="0">请选择</option>
          <option value="1">讲座</option>
          <option value="2">旅行</option>
          <option value="3">公益</option>
          <option value="4">电影</option>
          <option value="5">比赛</option>
          <option value="6">演出</option>
          <option value="99">其他</option>
        </select>
        <span class="mistake" id="edit-type-mis">请选择活动类型</span>
      </div>
    </div>
    <div class="row">
      <label for="date">开始时间</label>
      <div>
        <input type="text" id="edit-date" name="date" value="">
        <span class="mistake" id="edit-type-mis">请选择活动开始时间</span>
      </div>
    </div>
    <div class="row">
      <label for="place">活动地点</label>
      <div>
        <input type="text" class="inputwidth" id="edit-place" name="place" placeholder="最长25个字符" maxlength="25" value="<%= activity.place %>">
        <span class="mistake" id="edit-place-mis">请输入活动地点</span>
      </div>
    </div>
    <div class="row">
      <label for="detail">活动详情</label>
      <div>
        <textarea name="detail" id="edit-detail" rows="20" cols="54" max_length="4000"></textarea>
        <span class="mistake" id="edit-detail-mis">请输入活动详情</span>
      </div>
    </div>
    <div class="row">
      <label for="placard">活动海报</label>
      <div>
        <input type="file" class="placard" id="edit-placard" name="placard"/>
        <span class="tip">海报请小于1M,若不想更改海报,可以不再选择</span>
        <span class="mistake" id="edit-placard-mis">请选择海报</span>
        <% if (error){ %>
        <p class="error"><%= error %></p>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div>
        <button type="submit">提交修改</button>
      </div>
    </div>
  </form>
  <script>
    var textobj = "<%= activity.detail %>";
    var textobj2 = textobj.replace(/&lt;br\s\/&gt;/g,"\r\n");
    //console.log(textobj2);
    //console.log(textobj);
    $('#edit-detail').html(textobj2);

    var value = <%= activity.type %>;
    $('#edit-type').val(value);

    $('#edit-date').appendDtpicker({
      "locale": "cn",
      "animation": false,
      "futureOnly": true,
      "current":'<%= activity.date.getFullYear() %>-<%= activity.date.getMonth()+1 %>-<%= activity.date.getDate() %> <%= activity.date.toLocaleTimeString() %>'
      //"current":'2015-1-01 00:00:00'

    });
  </script>
</div>
<%- include footer %>